*
!.gitignore
!*.md
!*.html
!*.css
!*.cpp
!*.h
!LICENSE
!gen-all.sh
!archetypes/
!archetypes/default/
!archetypes/orikami/
!archetypes/oribodai/
!archetypes/oriken/
!src/
!src/CMakeLists.txt
!templates/
!tools/
