table {
  display: block;
  border-collapse: collapse;
  border-spacing: 0;
  display: block;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 16px;
  margin-top: 0;
  max-width: 100%;
  overflow: auto;
  width: max-content;
  word-wrap: break-word;
}

table td {
  border-collapse: collapse;
  border-color: #736b5e;
  border-spacing: 0;
  border-style: solid;
  border-width: 1px;
  padding: 6px 13px;
}

table th {
  border-collapse: collapse;
  border-color: #736b5e;
  border-spacing: 0;
  border-style: solid;
  border-width: 1px;
  padding: 6px 13px;
}

a {
  color: #3D84FF;
}

* {
  background-color: #202324;
  color: #EEEEEE;
}

/* Proficiency Bonus */
.proficiency-bonus {
  width: 11ch;
}

.features {
  width: 30ch;
}

.familiar-cantrips, .familiar-spells, .cantrips-known {
  width: 8ch;
}

.origami-cap {
  width: 7ch;
}
