table {
  display: block;
  border-collapse: collapse;
  border-spacing: 0;
  display: block;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 16px;
  margin-top: 0;
  max-width: 100%;
  overflow: auto;
  width: max-content;
  word-wrap: break-word;
}

table td {
  border-collapse: collapse;
  border-color: #736b5e;
  border-spacing: 0;
  border-style: solid;
  border-width: 1px;
  padding: 6px 13px;
}

table th {
  border-collapse: collapse;
  border-color: #736b5e;
  border-spacing: 0;
  border-style: solid;
  border-width: 1px;
  padding: 6px 13px;
}

a {
  color: #3399FF;
}

* {
  background-color: #202324;
  color: #EEEEEE;
}

/* Proficiency Bonus */
.orikami-table tr > :nth-child(2) {
  width: 11ch;
}

/* Features */
.orikami-table tr > :nth-child(3) {
  width: 30ch;
}

/* Familiar Cantrips */
.orikami-table tr > :nth-child(4) {
  width: 8ch;
}

/* Familiar Spells */
.orikami-table tr > :nth-child(5) {
  width: 8ch;
}

/* Cantrips Known */
.orikami-table tr > :nth-child(6) {
  width: 8ch;
}

/* Origami Cap */
.orikami-table tr > :nth-child(7) {
  width: 7ch;
}

/* Proficiency Bonus */
.oriken-table tr > :nth-child(2) {
  width: 11ch;
}

/* Features */
.oriken-table tr > :nth-child(3) {
  width: 30ch;
}

/* Origami Cap */
.oriken-table tr > :nth-child(4) {
  width: 7ch;
}
